.about{
    padding:62px 0;
}
.about__title{
 font-weight: 400;
 font-size: 40px;
 line-height: 120%;
 text-transform: uppercase;
 margin:0 0 8px;
 max-width: 700px;
 margin:0 0 24px;
}
.about__description{
    line-height: 150%;    
    max-width: 700px;
    margin: 0 0 72px;    
}
.about__list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(384px,1fr));
    gap: 24px 24px;    

}
.about__item{
    padding: 6px 0 6px 96px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 80px;
    min-height: 80px;
}
.about__item_top{
    background-image: url(.././img/svg/icon1.svg);    
}
.about__item_master{
   background-image: url(.././img/svg/icon2.svg);
}
.about__item_garant{
background-image: url(.././img/svg/icon3.svg);
}
.about__item_title{
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 8px;
}
.about__item_description{
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #BFBDB2;
    padding: 0;
    margin: 0 0 8px;
}
@media(max-width:1024px){
    .about__description{
        margin-bottom: 46px;
    }
    .about__list{
        grid-template-columns: repeat(auto-fit,290px);        
    }
    .about__item{
        padding-top: 96px;
        background-position: top left; 
        padding-left: 0;            
    }
}
@media(max-width:768px){
    .about{
        padding:40px 0;
    }
    .about__title{     
     font-size: 32px;      
     max-width:584px;
     margin-bottom:0 0 24px;
    }
    .about__description{           
        max-width: 100%;        
        margin-bottom:0 0 32px;
    }    
    .about__list{
        display: flex;
        gap:24px 32px;
        flex-wrap: wrap;
    }
    .about__item{
        padding: 6px 0px 21px 96px;
        background-position: left;
        background-repeat: no-repeat;
        background-size: 80px;
        max-width: 320px;
    }    
    .about__item_title{        
        font-size: 16px;              
    }    
}
@media(max-width:520px){
    .about{
        padding:32px 0;
    }
    .about__title{     
     font-size: 20px;      
     max-width:272px;
     margin-bottom:0 0 16px;
    }
    .about__description{           
        font-size: 12px;                
    }    
    .about__list{
        display: flex;
        flex-direction: column;
        gap:24px;        
    }
    .about__item{
        padding: 0 0 0 72px;
        background-size:64px;        
    }    
    .about__item_description{
        font-size: 12px;
    }
}