
.radio__input {
    position: absolute;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.radio__label {
    display: inline-block;
    padding: 16px 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid #BFBDB2;
    border-radius: 36px;
}

.radio__label:hover:not(:disabled){
    color:#EFE7BE ;
}
.radio__label:active{
    color:#EFE7BE ;
}

.radio__input:checked + .radio__label{
    color:#241D1C ;
    background-color: #BFBDB2;
}
.radio__input:focus + .radio__label{
    color:#241D1C ;
    background-color: #BFBDB2; 
}
.radio__input:disabled + .radio__label{
    opacity: 0.3; 
}
.radio__label_spec {
    position: relative;
    padding-left:52px;    
}
.radio__label_spec::before{
    position: absolute;
    content: '';
    background-image: var(--bg-image);     
    background-size: cover;
    left:8px;
    top:50%;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
    display: block;
    border-radius: 50%;

    background-repeat: no-repeat;
}
@media (max-width:769px){
    .radio__label {
        font-size: 12px;
    }
    .radio__label_spec {
        padding-left: 52px;        
        background-size: 36px;
    }
}
@media (max-width:520px){
    .radio__label{
        padding: 12px 16px;
    }
    .radio__label_spec { 
        padding-left:37px ;              
              
    }
    .radio__label_spec::before{
        width: 24px;
        height: 24px;
    }  
}