.slider {
    overflow: hidden;
    position: relative;
}
.slider__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 -16px;
}
.slider__item {
    padding: 0 16px;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 25%;
}
.slider__item_active{
    max-width: 50%;
}

.slider__arrow {
    position: absolute;
    bottom: 30%;
    height: 8px;
    background-color: transparent;
    width: 64px;    
    background-repeat: no-repeat;
    
    border: none;
    cursor: pointer;    
}
.slider__arrow:hover {
    opacity: 0.8;
}
.slider__arrow:active {
    opacity: 0.6;
}
.slider__arrow_left {
    left: 8%; 
    background-position: left;
    background-image: url(.././img/svg/Arrow\ 1.svg);   
}
.slider__arrow_right {
    right: 8%;
    background-position: right;
    background-image: url(.././img/svg/Arrow\ 2.svg);    
}
@media(max-width:1024px){
    .slider__item {        
        max-width: 30%;
    }
    .slider__item_active{
        max-width: 40%;
    }
    .slider__arrow {        
        bottom: 12%;        
    }
}
@media(max-width:768px){
    .slider__item {        
        max-width: 25%;
    }
    .slider__item_active{
        max-width: 50%;
    }
    .slider__arrow {        
        bottom: 31%;
        width: 40px;        
    }
}
@media(max-width:560px){
    .slider__item {        
       max-width: 100%;
    }    
    .slider {
        padding-bottom:20px ;
    }
    .slider__arrow {        
        bottom: 0;               
    }
    .slider__arrow_left {
        left: 0;           
    }
    .slider__arrow_right {
        right: 0;         
    }
}
